<a href="https://colab.research.google.com/github/PatelHarshit/python-data-science-lab/blob/main/ds_lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
import numpy as np
import pandas as pd

In [24]:
arr = np.array([10, 20, 30, 40, 50])
print('Original Array:', arr)

Original Array: [10 20 30 40 50]

In [25]:
arr + 5 # Add 5 to each element
arr * 2 # Multiply each element by 2
arr[arr > 25] # Filter elements > 25

array([30, 40, 50])

In [26]:
data = {
      'Name': ['Alice', 'Bob', 'Charlie', 'David'],
          'Age': [25, 30, 35, 40],
              'Score': [85.5, 92.0, 88.0, 76.5]
              }
df = pd.DataFrame(data)

In [16]:
# Add a new column 'Passed' based on Score
df['Passed'] = df['Score'] >= 80
print("\nDataFrame with 'Passed' column:\n", df)

# Filter rows where Age > 30
older_students = df[df['Age'] > 30]
print("\nStudents older than 30:\n", older_students)

# Calculate average score
average_score = df['Score'].mean()
print("\nAverage Score:", average_score)

DataFrame with 'Passed' column:
       Name  Age  Score  Passed
0    Alice   25   85.5    True
1      Bob   30   92.0    True
2  Charlie   35   88.0    True
3    David   40   76.5   False

Students older than 30:
       Name  Age  Score  Passed
2  Charlie   35   88.0    True
3    David   40   76.5   False

Average Score: 85.5

In [19]:
data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'Score': [85, 90, 78]}
df = pd.DataFrame(data)
print(df)

      Name  Age  Score
0    Alice   25     85
1      Bob   30     90
2  Charlie   35     78

In [27]:
df['Passed'] = df['Score'] >= 80
print("\nDataFrame with 'Passed' column:\n", df)

# Filter rows where Age > 30
older_students = df[df['Age'] > 30]
print("\nStudents older than 30:\n", older_students)

# Calculate average score
average_score = df['Score'].mean()
print("\nAverage Score:", average_score)

DataFrame with 'Passed' column:
       Name  Age  Score  Passed
0    Alice   25   85.5    True
1      Bob   30   92.0    True
2  Charlie   35   88.0    True
3    David   40   76.5   False

Students older than 30:
       Name  Age  Score  Passed
2  Charlie   35   88.0    True
3    David   40   76.5   False

Average Score: 85.5